body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #98cbef;
    color: #403e47;
}

h1 {
    color: #3167da;
}

p {
    line-height: 1.6;
    font-size: 18px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li a {
    display: block;
    margin: 10px 0;
    color: #38128a;
    text-decoration: none;
    font-weight: bold;
}

li a:hover {
    text-decoration: underline;
}

a {
    color: #38128a;
    font-weight: bold;
    text-decoration: none;
    margin-right: 15px;
}