body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 30px;
    background-color: #e1ceea;
    color: #353637;
}

h1 {
    color: #b82bd7;
}

h2 {
    color: #560b67;
}

ul {
    list-style-type: square;
}

a {
    display: inline-block;
    margin-top: 20px;
    color: #61108c;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

p {
    font-size: 18px;
}

footer {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #e424eb;
    text-align: center;
    color: #211b1b;
}